<!-- Footer -->
<footer class="page-footer font-small bg-light pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-6 col-md-4" style="text-align: center">

        <!-- Content -->
        <h5>Επικοινωνία</h5>
        <p>Τμήμα Ηλεκτρολόγων Μηχανικών και Τεχνολογίας Υπολογιστών</p>
        <div class="communication">
          <p>&#9742;: +302610996420</a></p>
          <i class="fa fa-envelope" style="font-size: 18px">: <a href="mailto:ece@upatras.gr">ece@upatras.gr</a></i>

        </div>

      </div>

      <div class="col-6 col-md-4" style="text-align: center">

        <!-- Content -->
        <h5>Χρήσιμοι Σύνδεσμοι</h5>
        <div class="links">
          <br>
          <ul class="list-unstyled">
            <li>
              <a href="http://www.ece.upatras.gr" target="blank">http://www.ece.upatras.gr</a>
            </li>
            <li>
              <a href="https://eclass.upatras.gr" target="blank">https://eclass.upatras.gr</a>
            </li>
            <li>
              <a href="https://mussa.upnet.gr" target="blank">https://mussa.upnet.gr</a>
            </li>
            <li>
              <a href="https://mail1.upnet.gr/" target="blank">https://mail1.upnet.gr</a>
            </li>
          </ul>

        </div>

      </div>

      <div class="col-6 col-md-4">

        <!-- Content -->
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3131.6341214239465!2d21.7862132845965!3d38.28797343153645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135e4bbe2957b22f%3A0xc38e3c52889d4533!2sDepartment+of+Electrical+and+Computer+Engineering%2C+School+of+Engineering%2C+University+of+Patras!5e0!3m2!1sen!2sgr!4v1553702202929"
          width="600" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>

      </div>

      <!-- Grid column -->
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    Tsitsik Corp <i class="fa fa-copyright"></i> Copyright 2019
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
