{% extends 'base_index.html' %}
{% load render_table from django_tables2 %}

{% load staticfiles %}
{% block staticfiles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/certificates.css' %}">

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <form class="form-group" action="" method="POST">
            {% csrf_token %}
            <div id="type-choice">
                <strong style="font-size: 1.5em">{{form.tipos.label_tag}}</strong>
                {{form.tipos}}
            </div>
            <br>
            <div id="copies">
                <strong style="font-size: 1.5em">{{form.copies.label_tag}}</strong>
                {{form.copies}}
            </div>
            <br>
            <input type="submit" class="btn btn-md btn-primary" value="Υποβολή" id="cert-submit">
        </form>
    </div>
    <div class="col-md-6">
        {% render_table table %}
    </div>
</div>

{% endblock %}