{% extends 'base_index.html' %}

<!--  -->
{% load static %}
{% block staticfiles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/my_courses.css'    %}">
{% endblock %}
<!--  -->

{% block content %}

<div class="container-fluid">
  <div class="row">
    <!-- Navbar -->
    <div class="col-12">
      {% include "course_navbar.html" %}
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-6 col-xs-12">
      <h4 class="text-center mb-3">Περιγραφή</h4>
      {{didaskalia.perigrafi|safe}}
    </div>
    <div class="col-lg-6 col-xs-12">
      {% include 'course_announcements.html' %}
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-3">
      <div>
        <h4 class="text-center">Καθηγητές</h4>
      </div>
      <div>
        <table class="table table-striped mt-4">
          <tbody>
            {% for professor in didaskalia.get_professors %}
            <tr>
              <td class="text-center">
                <a href="{% url 'profile_user' profileID=professor.get_profile_id %}">{{professor.name}}</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block js_files %}
{{block.super}}
<script src="{% static 'js/course_navbar.js' %}"></script>
{% endblock js_files %}