<div class="nav-side-menu">
  <div class="brand">University of Patras</div>
  <div class="foititis">
    <div id="onoma_foititi">
      Όνομα Φοιτητή, 1020623
    </div>
    <div id="mesos_oros">
      Μέσος Όρος : xx.xx
    </div>
  </div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">

      <li class="menu-option" id="profile-option">
        <a href="profile.html">
          <i class="fa fa-user fa-lg"></i> Προφίλ
        </a>
      </li>

      <li class="menu-option" id="dilwseis-option">
        <a href="dilwseis.html">
          <i class="far fa-file-alt fa-lg"></i> Δηλώσεις
        </a>
      </li>

      <li class="menu-option" id="grades-option">
        <a href="grades.html"><i class="fa fa-user-graduate fa-lg"></i> Βαθμολογίες </a>
      </li>

      <li class="menu-option" id="my-courses-option">
        <a href="my-courses.html"><i class="fa fa-clipboard-check fa-lg"></i> Τα Μαθήματά μου </a>
      </li>

      <li class="menu-option" id="calendar-option">
        <a href="calendar.html"><i class="fa fa-calendar-alt fa-lg"></i> Ωρολόγιο Πρόγραμμα </a>
      </li>

      <li class="menu-option" id="pistopoitika-option">
        <a href="pistopoitika.html"><i class="fa fa-certificate fa-lg"></i> Πιστοποιητικά </a>
      </li>

      <li class="menu-option" id="aitiseis-option">
        <a href="aitiseis.html"><i class="fa fa-stream fa-lg"></i> Αιτήσεις </a>
      </li>

      <li class="menu-option" id="odigos-spoudwn-option">
        <a href="assets/pdf/sample.pdf" target="blank"><i class="fa fa-thumbtack fa-lg"></i> Οδηγός Σπουδών
        </a>
      </li>

    </ul>
  </div>
</div>
