{% load static %}

<div class="nav-side-menu">
  <div class="brand">University of Patras</div>
  <div class="foititis">
    <div id="onoma_foititi">
      Όνομα Φοιτητή, 1020623
    </div>
    <div id="mesos_oros">
      Μέσος Όρος : xx.xx
    </div>
  </div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">

      <a href="{% url 'profile' %}">
        <li class="menu-option" id="profile-option">
          <i class="fa fa-user fa-lg"></i> Προφίλ
        </li>
      </a>

      {% if user.profile.is_student %}
      <a href="{% url 'diloseis' %}">
        <li class="menu-option" id="dilwseis-option">
          <i class="far fa-file-alt fa-lg"></i> Δηλώσεις Μαθημάτων
        </li>
      </a>
      {% endif %}

      {% if user.profile.is_student %}
      <a href="#">
        <li class="menu-option" id="grades-option">
          <i class="fa fa-user-graduate fa-lg"></i> Βαθμολογίες
        </li>
      </a>
      {% endif %}

      <a href="{% url 'my_courses' %}">
        <li class="menu-option" id="my-courses-option">
          <i class="fa fa-clipboard-check fa-lg"></i> Τα Μαθήματά μου
        </li>
      </a>

      <a href="#">
        <li class="menu-option" id="calendar-option">
          <i class="fa fa-calendar-alt fa-lg"></i> Ωρολόγιο Πρόγραμμα
        </li>
      </a>

      {% if user.profile.is_student %}
      <a href="#">
        <li class="menu-option" id="pistopoitika-option">
          <i class="fa fa-certificate fa-lg"></i> Πιστοποιητικά
        </li>
      </a>
      {% endif %}

      {% if user.profile.is_student %}
      <a href="#">
        <li class="menu-option" id="aitiseis-option">
          <i class="fa fa-stream fa-lg"></i> Αιτήσεις
        </li>
      </a>
      {% endif %}

      <a href="{% static 'pdf/sample.pdf' %}" target="blank">
        <li class="menu-option" id="odigos-spoudwn-option">
          <i class="fa fa-thumbtack fa-lg"></i> Οδηγός Σπουδών
      </a>
      </li>
      </a>

    </ul>
  </div>
</div>
