#table-didask,#table-dilosi
{
    display: block;
    height: 550px;
    overflow-y: auto;
    text-align: center;
}

#table-didask th,#table-dilosi th{
    background-color: #3C4556;
    color: white;
}