.ergasies_table {
    border: 1px solid gray;
}

.ergasia_stoixeia_container {
    border: 1px solid #2F70A8;
    border-radius: 3px;
}

.ergasia_ipoboli_container {
    border: 1px solid gray;
    border-radius: 3px;
}

.ergasia_stoixeia_titlos {
    background-color: #2F70A8;
}

.ergasia_ipoboli_titlos {
    background-color: gray;
}

.ergasia_ipoboli>.row,
.ergasia_stoixeia>.row {
    margin: 1em 0em;
}

.ergasia_ipoboli_first_col,
.ergasia_stoixeia_first_col {
    font-weight: 500;
}

.ergasia_stoixeia_sec_col {}


#file {
    margin-top: 0.8em;
}

#submit_file {
    display: block;
    margin-top: 0.8em;
}
