#new_ergasia_form {
    background-color: #F5F5F5;
    border: 3px solid gray;
    padding: 1em;
}

#new_ergasia_form>div {
    margin: 1em;
}

#new_ergasia_form>div :last-child {
    margin: 0em 0em 0em 1em;
}
