#leftSideBar {
    padding-left: 0;
    max-width: 340px;
    min-height: 700px;
}

.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 0.9em;
    font-weight: 200;
    background-color: #3C4556;
    /* position: auto; */
    height: 100%;
    color: #e1ffff;
    /* max-height: 40em; */
    /* margin-top: 1em; */
    /* border-radius: 15px; */
}

.nav-side-menu .brand {
    background-color: rgb(49, 57, 71);
    line-height: 4em;
    display: block;
    text-align: center;
    font-size: 1.2em;
}

.nav-side-menu .foititis {
    background-color: rgb(49, 57, 71);
    line-height: 3em;
    border: 1px solid #23282e;
    display: block;
    text-align: center;
    font-size: 1em;
}

.nav-side-menu .toggle-btn {
    display: none;
    margin-right: 0;
}

.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 3em;
    cursor: pointer;
    /*
    .collapsed {
        .arrow:before {
            font-family: FontAwesome;
            content: "\f053";
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: middle;
            float: right;
        }
    } */

}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    vertical-align: middle;
    float: right;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid #d19b3d;
    background-color: #3c4556;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #444e61;
    border: none;
    line-height: 2.5em;
    border-bottom: 1px solid #23282e;
    margin-left: 1em;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #272e36;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    vertical-align: middle;
}

.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
}

.nav-side-menu a {
    text-decoration: none;
    color: #e1ffff;
}

.nav-side-menu a i {
    padding-left: 0.7em;
    width: 1.3em;
    padding-right: 1.6em;
}

.nav-side-menu li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #3c4556;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

@media (max-width: 767px) {

    #leftSideBar {
        max-width: 100%;
        width: 100%;
        padding-right: 0;
    }


    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }

    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        margin-right: 1em;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }

    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}

@media (min-width: 767px) {

    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}
